@model ML.Cine

@{
    ViewData["Title"] = "VentasGetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<title>Ventas</title>

<div class="row">
    <div class="col-md-3">
        @Html.TextBoxFor(model=>model.VentaN, new {id= "lblNorte"})

        @Html.TextBoxFor(model=>model.VentaS, new {id= "lblSur"})

        @Html.TextBoxFor(model=>model.VentaE, new {id= "lblEste"})

        @Html.TextBoxFor(model=>model.VentaO, new {id= "lblOeste"})
    </div>
</div>


<div id="chartContainer" style="width: 100%; height: 300px"></div>

@section Scripts{
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script>
        window.onload = function () {
            var norte=document.getElementById("lblNorte").value;
            var sur = document.getElementById("lblSur").value;
            var este=document.getElementById("lblEste").value;
            var oeste = document.getElementById("lblOeste").value;
            var options = {
                animationEnabled: true,
                title: {
                    text: "Ventas"
                },
                data: [{
                    type: "doughnut",
                    innerRadius: "40%",
                    showInLegend: true,
                    legendText: "{label}",
                    indexLabel: "{label}: #percent%",
                    dataPoints: [
                        { label: "Norte", y: 15 },
                        { label: "Sur", y: 20 },
                        { label: "Este", y: 35 },
                        { label: "Oeste", y: 5 }
                    ]
                }]
            };
            $("#chartContainer").CanvasJSChart(options);

        }
    </script>
}



